In [1]:
import sys
import pandas as pd
from typing import List, Dict
from SPARQLWrapper import SPARQLWrapper, JSON

In [2]:
fm = pd.read_csv('newest_fm.csv')
fm_clean = fm.drop_duplicates(subset=['book_QN'])
display(fm)

,Unnamed: 0,id,title,language,downloads,book_QN,author_QN,authorLabel
0,0,PG10002,The House on the Borderland,['en'],824,Q740473,Q919277,William Hope Hodgson
1,1,PG10005,A Voyage to the Moon: With Some Account of the...,['en'],42,Q20543676,Q1508382,George Tucker
2,2,PG10008,The Mystery,['en'],27,Q95981569,Q185406,Samuel Hopkins Adams
3,3,PG10046,Salute to Adventurers,['en'],24,Q7406333,Q333004,John Buchan
4,4,PG10055,Hamburgische Dramaturgie,['de'],57,Q53585,Q34628,Gotthold Ephraim Lessing
...,...,...,...,...,...,...,...,...
4550,866,PG9070,The Imaginary Invalid,['en'],1057,Q588161,Q687,Molière
4551,872,PG944,The Voyage of the Beagle,['en'],874,Q1768515,Q1035,Charles Darwin
4552,884,PG9749,The Highwayman,['en'],29,Q11153710,Q1390604,H. C.Bailey
4553,885,PG9828,Barnen ifrån Frostmofjället,['sv'],36,Q10426505,Q4948162,Laura Fitinghoff
4554,886,PG982,The Book of Nonsense,['en'],496,Q19020134,Q309759,Edward Lear

In [3]:
def getresult(query):
    sparql = SPARQLWrapper("https://query.wikidata.org/sparql", agent="Mozilla/5.0")
#     print("connected")
    sparql.addExtraURITag("timeout","10000")
    sparql.setQuery(query)
#     print("A")
    sparql.setReturnFormat(JSON)
#     print("B")
#     try:
    results = sparql.queryAndConvert()
#     print("C")
#     except Exception as e:
#         print(e)
    results = results['results']['bindings']
    if results:
        new_results = []
        for result in results:
            new_result = {}
            for key in result:
                new_result[key] = result[key]['value']
            new_results.append(new_result)
        return new_results

In [ ]:
# query = """
# SELECT ?work ?author ?workLabel (Year(?publicationDate) AS ?PublicationYear) ?authorLabel ?genderLabel ?citizenshipLabel ?birthYear ?deathYear ?religionLabel ?nativeLanguageLabel
# WHERE {
#   VALUES ?work {wd:Q43361}
#   ?work wdt:P577 ?publicationDate.
#   VALUES ?author {wd:Q34660}
#   ?author   wdt:P21 ?gender;          
#             wdt:P27 ?citizenship;      
#             wdt:P569 ?birthDate;
#   OPTIONAL { ?author wdt:P570 ?deathDate.}
#   OPTIONAL { ?author wdt:P140 ?religion. }
#   OPTIONAL { ?author wdt:P103 ?nativeLanguage. }
#   BIND(YEAR(?birthDate) AS ?birthYear)
#   BIND(YEAR(?deathDate) AS ?deathYear)
#   SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
# }
# """
# p = getresult(query)
# result_df = pd.DataFrame.from_dict(p)
# display(result_df)

In [ ]:
# base_query = """
# SELECT ?work ?author ?workLabel (Year(?publicationDate) AS ?PublicationYear) ?authorLabel ?genderLabel ?citizenshipLabel ?birthYear ?deathYear ?religionLabel ?nativeLanguageLabel
# WHERE {
#   VALUES ?work {wd:%s}
#   ?work wdt:P577 ?publicationDate.
#   VALUES ?author {wd:%s}
#   ?author   wdt:P21 ?gender;          
#             wdt:P27 ?citizenship;      
#             wdt:P569 ?birthDate;
#   OPTIONAL { ?author wdt:P570 ?deathDate.}
#   OPTIONAL { ?author wdt:P140 ?religion. }
#   OPTIONAL { ?author wdt:P103 ?nativeLanguage. }
#   BIND(YEAR(?birthDate) AS ?birthYear)
#   BIND(YEAR(?deathDate) AS ?deathYear)
#   SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
# }
# """
# for index, row in fm.iterrows():
#     book = row['book_QN']
#     author = row['author_QN']
#     formatted_query = base_query % (book, author)
#     df_1 = getresult(formatted_query)
#     if df_1 is not None:
#         rdf = pd.DataFrame.from_dict(df_1)
#         result_df = pd.concat([result_df,rdf])
# display(result_df)

In [4]:
query = """
SELECT ?work ?workLabel (Year(?publicationDate) AS ?PublicationYear) ?genre ?genreLabel
WHERE {
  VALUES ?work {wd:Q43361}
  ?work wdt:P577 ?publicationDate;
  OPTIONAL { ?work wdt:P136 ?genre. }
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
"""
p = getresult(query)
result_book = pd.DataFrame.from_dict(p)
display(result_book)

,work,genre,workLabel,genreLabel,PublicationYear
0,http://www.wikidata.org/entity/Q43361,http://www.wikidata.org/entity/Q132311,Harry Potter and the Philosopher's Stone,fantasy,1997
1,http://www.wikidata.org/entity/Q43361,http://www.wikidata.org/entity/Q21802675,Harry Potter and the Philosopher's Stone,adventure fiction,1997
2,http://www.wikidata.org/entity/Q43361,http://www.wikidata.org/entity/Q111984153,Harry Potter and the Philosopher's Stone,young adult fiction,1997

In [5]:
book_query = """
SELECT ?work ?workLabel (Year(?publicationDate) AS ?PublicationYear) ?genre ?genreLabel
WHERE {
  VALUES ?work {wd:%s}
  ?work wdt:P577 ?publicationDate;
  OPTIONAL { ?work wdt:P136 ?genre. }
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
"""
for index, row in fm.iterrows():
    book = row['book_QN']
    formatted_query = book_query % (book)
    book_df_1 = getresult(formatted_query)
    if book_df_1 is not None:
        book_df = pd.DataFrame.from_dict(book_df_1)
        result_book = pd.concat([result_book,book_df])
display(result_book)

,work,genre,workLabel,genreLabel,PublicationYear
0,http://www.wikidata.org/entity/Q43361,http://www.wikidata.org/entity/Q132311,Harry Potter and the Philosopher's Stone,fantasy,1997
1,http://www.wikidata.org/entity/Q43361,http://www.wikidata.org/entity/Q21802675,Harry Potter and the Philosopher's Stone,adventure fiction,1997
2,http://www.wikidata.org/entity/Q43361,http://www.wikidata.org/entity/Q111984153,Harry Potter and the Philosopher's Stone,young adult fiction,1997
0,http://www.wikidata.org/entity/Q740473,http://www.wikidata.org/entity/Q132311,The House on the Borderland,fantasy,1908
1,http://www.wikidata.org/entity/Q740473,http://www.wikidata.org/entity/Q16575965,The House on the Borderland,horror fiction,1908
...,...,...,...,...,...
0,http://www.wikidata.org/entity/Q1768515,http://www.wikidata.org/entity/Q1164267,The Voyage of the Beagle,travel book,1839
1,http://www.wikidata.org/entity/Q1768515,http://www.wikidata.org/entity/Q3337126,The Voyage of the Beagle,nature writing,1839
0,http://www.wikidata.org/entity/Q11153710,http://www.wikidata.org/entity/Q474090,The Highwayman,narrative poetry,1906
0,http://www.wikidata.org/entity/Q10426505,NaN,Barnen ifrån Frostmofjället,NaN,1907
0,http://www.wikidata.org/entity/Q19020134,NaN,The Book of Nonsense,NaN,1887

In [6]:
result_book.to_csv('book_info.csv')

In [7]:
query = """
SELECT ?author ?authorLabel ?genderLabel ?citizenshipLabel ?birthYear ?deathYear ?religionLabel ?nativeLanguageLabel
WHERE {
  VALUES ?author {wd:Q34660}
  ?author   wdt:P21 ?gender;              
            wdt:P569 ?birthDate;
  OPTIONAL { ?author wdt:P570 ?deathDate.}
  OPTIONAL { ?author wdt:P27 ?citizenship.}
  OPTIONAL { ?author wdt:P140 ?religion. }
  OPTIONAL { ?author wdt:P103 ?nativeLanguage. }
  BIND(YEAR(?birthDate) AS ?birthYear)
  BIND(YEAR(?deathDate) AS ?deathYear)
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
"""
p = getresult(query)
result_author = pd.DataFrame.from_dict(p)
display(result_author)

,author,birthYear,authorLabel,genderLabel,citizenshipLabel,religionLabel,nativeLanguageLabel
0,http://www.wikidata.org/entity/Q34660,1965,J. K. Rowling,female,United Kingdom,Anglicanism,British English

In [8]:
authors_only = fm.drop_duplicates(subset=['author_QN'])
author_query = """
SELECT ?author ?authorLabel ?genderLabel ?citizenshipLabel ?birthYear ?deathYear ?religionLabel ?nativeLanguageLabel
WHERE {
  VALUES ?author {wd:%s}
  ?author   wdt:P21 ?gender;          
            wdt:P27 ?citizenship;      
            wdt:P569 ?birthDate;
  OPTIONAL { ?author wdt:P570 ?deathDate.}
  OPTIONAL { ?author wdt:P140 ?religion. }
  OPTIONAL { ?author wdt:P103 ?nativeLanguage. }
  BIND(YEAR(?birthDate) AS ?birthYear)
  BIND(YEAR(?deathDate) AS ?deathYear)
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
"""
for index, row in authors_only.iterrows():
    author = row['author_QN']
    print(author)
    formatted_query = author_query % (author)
    author_df_1 = getresult(formatted_query)
    if author_df_1 is not None:
        author_df = pd.DataFrame.from_dict(author_df_1)
        result_author = pd.concat([result_author,author_df])
display(result_author)

Q919277
Q1508382
Q185406
Q333004
Q34628
Q207544
Q468156
Q42511
Q525713
Q167856
Q36184
Q7167372
Q30875
Q477999
Q6759691
Q5686
Q1387643
Q1564825
Q146763
Q127332
Q20733
Q45765
Q170509
Q704860
Q33977
Q271961
Q212719
Q5879
Q1294394
Q353238
Q1444002
Q453577
Q548040
Q2668090
Q50020
Q535
Q219829
Q7245
Q692
Q348623
Q151403
Q438241
Q234530
Q35610
Q82925
Q36322
Q16867
Q314158
Q502912
Q148234
Q25351
Q504
Q1371577
Q1676368
Q9327
Q202749
Q131333
Q16063166
Q132805
Q259132
Q458658
Q41166
Q43718
Q313932
Q771698
Q237196
Q507991
Q462363
Q44519
Q763341
Q447240
Q40826
Q893138
Q478450
Q154211
Q944063
Q311854
Q47484
Q9711
Q276032
Q42443
Q126596
Q460366
Q2065950
Q5337523
Q5075251
Q102513
Q1699846
Q18911708
Q5531480
Q506757
Q2517956
Q965927
Q1382113
Q713284
Q276028
Q4798900
Q457287
Q34190
Q183167
Q3297881
Q560015
Q35064
Q191026
Q123469
Q5536746
Q6221558
Q369790
Q984
Q246953
Q723374
Q318399
Q37693
Q442130
Q41502
Q115822
Q33866
Q326138
Q216904
Q510258
Q38337
Q258741
Q82006
Q3611689
Q1131497
Q81796
Q3889326
Q366805
Q2603993
Q38082
Q294181
Q37030
Q433098
Q1512
Q214565
Q1700884
Q215724
Q1385758
Q315003
Q952452
Q1246814
Q1507549
Q1035
Q1399
Q670179
Q5362696
Q5478699
Q183713
Q4944529
Q37103
Q40909
Q540427
Q132524
Q3816
Q7647785
Q536012
Q283496
Q5673
Q439204
Q6701
Q79025
Q191050
Q6261044
Q561408
Q468247
Q351705
Q192927
Q334839
Q382786
Q43444
Q322871
Q1092762
Q1293795
Q467770
Q1281119
Q8005600
Q314993
Q34743
Q1402
Q274254
Q6284021
Q298027
Q439370
Q7243
Q37767
Q81438
Q6264132
Q137679
Q228546
Q180989
Q8009658
Q1175275
Q3275944
Q562719
Q218698
Q1585832
Q5416320
Q5685
Q312444
Q4661753
Q258001
Q2331155
Q9061
Q505017
Q181667
Q561378
Q273034
Q229480
Q173869
Q309759
Q247473
Q717186
Q4985
Q859
Q298827
Q123089
Q434687
Q540166
Q505715
Q5370892
Q4892977
Q4725909
Q216134
Q268305
Q4895515
Q210740
Q134942
Q6774396
Q270632
Q551767
Q231708
Q151180
Q102851
Q498976
Q782813
Q458390
Q433767
Q8016
Q123053
Q235368
Q1340161
Q311526
Q6694
Q15442136
Q2331144
Q7344917
Q472071
Q12706
Q5080612
Q1699168
Q712746
Q1500
Q126462
Q332580
Q3300924
Q19185
Q4942781
Q34969
Q2342103
Q5298346
Q1541
Q237833
Q5393723
Q210798
Q311548
Q82409
Q47152
Q3568976
Q712073
Q188385
Q2415217
Q294147
Q4977173
Q9215
Q46830
Q518359
Q526709
Q728405
Q6780145
Q469681
Q6305859
Q2493772
Q234050
Q3721233
Q447019
Q9317
Q4958416
Q2043891
Q238140
Q110016595
Q96007487
Q983125
Q786616
Q172788
Q6307756
Q464318
Q508101
Q5077925
Q230476
Q5664346
Q1355998
Q160333
Q965138
Q983348
Q6548477
Q185696
Q368519
Q980339
Q150445
Q433325
Q463513
Q7167474
Q389375
Q88458
Q15975273
Q448376
Q357102
Q90238
Q4443905
Q2620572
Q235899
Q3909034
Q515845
Q182589
Q93841
Q110436
Q312673
Q2402392
Q570031
Q301983
Q611238
Q734329
Q706891
Q463630
Q43523
Q3218752
Q931105
Q27981888
Q550449
Q2060612
Q276421
Q3316148
Q922191
Q25973
Q437798
Q2037944
Q675676
Q943858
Q482162
Q518925
Q974678
Q1364100
Q372032
Q1357524
Q311480
Q713705
Q3087202
Q465681
Q44331
Q309702
Q298152
Q486096
Q468280
Q2030046
Q1249210
Q207036
Q360079
Q163069
Q1048
Q6241173
Q49767
Q313348
Q1347392
Q5403184
Q2731171
Q2655
Q312829
Q5536171
Q953962
Q462662
Q69339
Q570122
Q36661
Q970981
Q216954
Q9358
Q41513
Q5478659
Q366639
Q76430
Q4119359
Q345104
Q199588
Q354828
Q204936
Q6518053
Q5321848
Q19187967
Q81447
Q167768
Q465179
Q58811
Q1364808
Q26993
Q5365036
Q6233717
Q162269
Q9068
Q173481
Q152513
Q4228309
Q5622672
Q460861
Q963715
Q9204
Q207515
Q113681
Q1392055
Q5661413
Q435056
Q2137717
Q531606
Q5006262
Q941794
Q218960
Q215562
Q258669
Q8006734
Q18216966
Q5542993
Q527981
Q1288644
Q1700099
Q131149
Q6882
Q471413
Q213355
Q183266
Q27645
Q453251
Q15430684
Q144090
Q446879
Q505827
Q433755
Q3184948
Q271824
Q333246
Q2865103
Q1393388
Q79759
Q544314
Q6929948
Q122370
Q108206
Q4937514
Q154014
Q5660569
Q49074
Q644784
Q42544
Q168728
Q5679
Q32829
Q4530036
Q7348270
Q1349144
Q229226
Q5486693
Q296244
Q314897
Q356283
Q79969
Q265792
Q252307
Q2579425
Q454734
Q724395
Q34970
Q3946632
Q288210
Q6897658
Q489193
Q154010
Q76483
Q154782
Q991
Q469974
Q27888932
Q12407121
Q38221441
Q944409
Q286722
Q63055
Q109540
Q189119
Q443325
Q52155909
Q2042924
Q93157
Q455776
Q941810
Q57946
Q77486
Q734054
Q1195523
Q43393
Q547414
Q2076898
Q437184
Q1405996
Q7827414
Q193236
Q1891579
Q5752
Q42529454
Q291397
Q376398
Q5172696
Q1270441
Q1273998
Q5301411
Q319871
Q18912245
Q34787
Q4710993
Q4115628
Q429440
Q38203
Q5535927
Q1193106
Q123075
Q321660
Q947986
Q44403
Q82083
Q2818917
Q37388
Q5364476
Q5077060
Q59265161
Q370308
Q360574
Q12571
Q44490
Q1556094
Q42831
Q3847508
Q7796519
Q5363058
Q5481115
Q7241
Q5363377
Q4352329
Q160627
Q1506837
Q742371
Q705999
Q747
Q1392250
Q82248
Q316327
Q6698108
Q596925
Q60369
Q727056
Q3101534
Q4885219
Q385138
Q18910980
Q981949
Q42156
Q2710684
Q5217819
Q905
Q366296
Q55052141
Q6065174
Q363227
Q5171168
Q22670
Q101638
Q274305
Q76632
Q263270
Q179680
Q218747
Q464409
Q123386
Q462578
Q429858
Q5354396
Q319829
Q19873778
Q193608
Q333106
Q59737
Q965117
Q6218902
Q585351
Q314553
Q381800
Q723598
Q5298118
Q537112
Q971735
Q7421805
Q589562
Q47162
Q5344693
Q527302
Q969183
Q329854
Q315989
Q436664
Q562000
Q4957212
Q243267
Q18658486
Q79822
Q191850
Q443132
Q16743442
Q134461
Q2716914
Q380719
Q714940
Q171091
Q448
Q339842
Q733246
Q937
Q233265
Q1285626
Q443398
Q93354
Q51513
Q13562962
Q316788
Q2338545
Q2171170
Q1680890
Q471451
Q3336307
Q812105
Q48226
Q295935
Q7934
Q357839
Q609039
Q313185
Q313553
Q159636
Q639274
Q1648491
Q179126
Q7724
Q8022055
Q447268
Q722973
Q1242472
Q182905
Q25880
Q507699
Q332449
Q983421
Q708581
Q725248
Q122323
Q5006539
Q952614
Q6261093
Q379621
Q955217
Q34981
Q76487
Q2329794
Q5718303
Q5423950
Q1960665
Q350552
Q534599
Q538549
Q294625
Q37621
Q80889
Q61456
Q1849325
Q468667
Q220883
Q40213
Q76715
Q379580
Q29824449
Q125249
Q5080225
Q7114583
Q231944
Q436581
Q207640
Q922457
Q5052923
Q2141938
Q4895803
Q1283916
Q57182
Q7357461
Q287752
Q15999660
Q3719069
Q5333
Q254041
Q943991
Q706571
Q57619
Q7287626
Q299565
Q938005
Q201858
Q131487
Q908589
Q4800383
Q557512
Q2589871
Q16487084
Q315220
Q353746
Q5920671
Q4726018
Q969253
Q5354138
Q52155452
Q4800143
Q65448
Q4739696
Q7509068
Q1481362
Q16031668
Q466068
Q195390
Q449136
Q3561371
Q613164
Q78846
Q1373764
Q21084532
Q327500
Q5670556
Q330376
Q469996
Q761717
Q5322031
Q1064
Q4352362
Q77069
Q46405
Q76480
Q77204
Q337082
Q508029
Q1688174
Q462666
Q6261563
Q178106
Q94484288
Q938841
Q315511
Q5767691
Q346250
Q538091
Q461310
Q58062
Q99641139
Q151936
Q77444
Q267481
Q2366473
Q937439
Q436775
Q3435536
Q74664
Q7605796
Q6688212
Q214947
Q444995
Q134661
Q186748
Q4303218
Q236669
Q8010028
Q1871107
Q131805
Q259530
Q982058
Q48900
Q4309820
Q3809662
Q4359845
Q3142674
Q374462
Q1076511
Q310866
Q35802
Q76579
Q5719103
Q23441
Q376410
Q7788899
Q370246
Q5052113
Q3811584
Q77226
Q185085
Q8013887
Q6283945
Q30251325
Q502
Q13515
Q3379050
Q929695
Q33760
Q46602
Q1348857
Q1243973
Q49747
Q5481321
Q4768592
Q5082480
Q49325
Q82049
Q4236309
Q379211
Q4888572
Q63408
Q16944221
Q3489578
Q2923472
Q723324
Q37160
Q84714821
Q2435319
Q321378
Q313458
Q77318
Q2266038
Q2266966
Q332454
Q296809
Q3568980
Q5362366
Q206534
Q326459
Q5219054
Q5496537
Q435731
Q1598125
Q7370119
Q433076
Q30135078
Q314957
Q1286297
Q76422
Q39167718
Q60647
Q3327092
Q160852
Q5660079
Q3126838
Q21546729
Q442231
Q5322211
Q6141084
Q356317
Q5666786
Q2026837
Q310800
Q1382278
Q22109568
Q155112
Q1235328
Q184992
Q4970156
Q649747
Q3525525
Q81807
Q5890025
Q84824
Q230299
Q315346
Q2865905
Q287741
Q6218678
Q271712
Q1364647
Q272566
Q169566
Q3048134
Q15515663
Q296256
Q5078843
Q6780584
Q728558
Q452354
Q1443787
Q545381
Q5052655
Q1276720
Q739385
Q7200
Q968565
Q38193
Q73784
Q15506292
Q1700337
Q472270
Q15982460
Q376859
Q7917297
Q985138
Q171344
Q78511
Q57940
Q662678
Q171421
Q3431022
Q449489
Q344080
Q957543
Q722835
Q2550081
Q2036789
Q6929696
Q41584766
Q562402
Q957519
Q6175761
Q347356
Q5709707
Q2519303
Q268702
Q56650119
Q3156744
Q4822564
Q263254
Q57451238
Q2712004
Q604661
Q295386
Q2571058
Q6317720
Q298773
Q3345956
Q188569
Q23715146
Q984217
Q12718
Q715814
Q711666
Q5487805
Q348489
Q6376559
Q548776
Q228494
Q189454
Q139549
Q47737
Q459275
Q189665
Q1825813
Q3371696
Q1894814
Q3193974
Q355676
Q3746686
Q739438
Q355245
Q866496
Q5589250
Q47946
Q720062
Q133855
Q270707
Q109578839
Q1227273
Q42596
Q3568747
Q558410
Q3181824
Q366325
Q3157322
Q958310
Q5345038
Q3090506
Q1160957
Q112118678
Q263067
Q1107985
Q5362493
Q1351464
Q5498387
Q94689890
Q71429
Q1650288
Q524283
Q351410
Q379912
Q9391
Q275367
Q177681
Q61741322
Q8016836
Q4493340
Q298394
Q361026
Q78491
Q1283557
Q1506900
Q527156
Q5040619
Q780102
Q3376165
Q725445
Q34836
Q2824774
Q313925
Q123122615
Q7786988
Q235505
Q5298508
Q590532
Q464264
Q5078914
Q744848
Q56307883
Q19939115
Q335064
Q2450746
Q3394693
Q437462
Q8004674
Q1321778
Q1323100
Q763507
Q117201
Q6760032
Q645074
Q1197667
Q1333348
Q2739759
Q61662
Q1277467
Q233898
Q121060
Q188646
Q14949059
Q18402505
Q161841
Q161955
Q18935980
Q2336138
Q1064912
Q703935
Q7368222
Q7794762
Q7287399
Q5577698
Q272706
Q3161890
Q364264
Q312242
Q3426961
Q5512210
Q436699
Q68208509
Q672816
Q565684
Q1475826
Q438924
Q5294439
Q192069
Q8005269
Q505923
Q33193011
Q1899252
Q5126571
Q150471
Q5660172
Q2817249
Q18243
Q464167
Q4296277
Q207672
Q7199
Q123261
Q40640
Q6077927
Q203906
Q3506829
Q316568
Q554269
Q966324
Q218679
Q2849427
Q36771
Q4798061
Q466650
Q182804
Q2382900
Q41636203
Q643644
Q1732676
Q2580556
Q2831081
Q446941
Q5119353
Q3098292
Q5545264
Q41532
Q6969636
Q50305376
Q45025
Q57966
Q28494
Q198644
Q310309
Q16943893
Q167821
Q18117874
Q272537
Q460055
Q242666
Q7925754
Q260982
Q23434
Q227312
Q3051213
Q9381
Q1289140
Q2741543
Q16210361
Q455703
Q211133
Q107504129
Q298388
Q311001
Q2831281
Q7374114
Q76417
Q562133
Q521991
Q1615369
Q4864587
Q235665
Q93081
Q5338401
Q62278
Q591270
Q2529493
Q2840554
Q297302
Q5536500
Q256288
Q20734673
Q309903
Q55068622
Q2375353
Q6222156
Q1287924
Q141037
Q731510
Q18910721
Q315509
Q25352610
Q272
Q435725
Q444953
Q515008
Q315072
Q1359140
Q42516193
Q2958729
Q6246991
Q5802152
Q57514
Q6834240
Q4749132
Q312549
Q44520
Q80137
Q6498881
Q28975
Q123041
Q154438
Q171976
Q4768282
Q168542
Q6929777
Q73646
Q455349
Q231886
Q298703
Q470067
Q2080961
Q257953
Q7600027
Q183094
Q285514
Q4156847
Q45546
Q115371
Q363729
Q5725557
Q46599
Q386244
Q302880
Q164047
Q5337310
Q465335
Q15491484
Q3262364
Q7347990
Q1356259
Q43423
Q8014765
Q129772
Q40946
Q17534352
Q441515
Q309907
Q225904
Q295941
Q237575
Q66438477
Q472232
Q961244
Q353841
Q729541
Q336189
Q186153
Q2736277
Q5344654
Q981852
Q937246
Q4762392
Q519064
Q7382963
Q868
Q18440246
Q6759760
Q5343517
Q236236
Q4767333
Q555291
Q75196496
Q5591308
Q17281116
Q6456649
Q5683
Q7150274
Q55436248
Q41523
Q365133
Q15814201
Q15694112
Q94608
Q7383228
Q16749762
Q1339023
Q650048
Q10308919
Q472568
Q517634
Q11682621
Q2031387
Q193857
Q582694
Q28957204
Q4722825
Q16027929
Q957427
Q18526800
Q86436424
Q521589
Q5864669
Q514305
Q6442694
Q389233
Q1508054
Q536979
Q441757
Q17485888
Q561027
Q449234
Q5740252
Q109265455
Q30043194
Q84761730
Q3423476
Q2138020
Q2546834
Q240174
Q391591
Q22958014
Q312551
Q201315
Q55450104
Q1858461
Q7198
Q78474
Q355888
Q24766
Q183144
Q276440
Q241299
Q48305
Q21552417
Q131018
Q2578528
Q372984
Q41568
Q742
Q219646
Q435151
Q951193
Q6755312
Q1690875
Q18404
Q547794
Q6003187
Q61723
Q5362110
Q590
Q7728
Q310341
Q8020076
Q5297443
Q55594379
Q891324
Q120801947
Q370589
Q5335062
Q215673
Q1651497
Q535396
Q93343
Q271032
Q170800
Q28793867
Q963058
Q331863
Q224029
Q687
Q7235
Q311145
Q4907669
Q153159
Q41309
Q1374243
Q1285184
Q7635294
Q50146529
Q310791
Q88296
Q4983493
Q81731
Q449670
Q1680917
Q312407
Q1151
Q3023540
Q1390604
Q4948162

,author,birthYear,authorLabel,genderLabel,citizenshipLabel,religionLabel,nativeLanguageLabel,deathYear
0,http://www.wikidata.org/entity/Q34660,1965,J. K. Rowling,female,United Kingdom,Anglicanism,British English,NaN
0,http://www.wikidata.org/entity/Q919277,1877,William Hope Hodgson,male,United Kingdom of Great Britain and Ireland,NaN,NaN,1918
1,http://www.wikidata.org/entity/Q919277,1877,William Hope Hodgson,male,United Kingdom of Great Britain and Ireland,NaN,NaN,1918
0,http://www.wikidata.org/entity/Q1508382,1775,George Tucker,male,United States of America,NaN,NaN,1861
0,http://www.wikidata.org/entity/Q185406,1871,Samuel Hopkins Adams,male,United States of America,NaN,NaN,1958
...,...,...,...,...,...,...,...,...
0,http://www.wikidata.org/entity/Q312407,1896,John Dos Passos,male,United States of America,NaN,NaN,1970
0,http://www.wikidata.org/entity/Q1151,1803,Hector Berlioz,male,France,atheism,NaN,1869
0,http://www.wikidata.org/entity/Q3023540,1881,Princess Der Ling,female,Qing Dynasty,Catholic Church,NaN,1944
0,http://www.wikidata.org/entity/Q1390604,1880,Alfred Noyes,male,United Kingdom,Catholic Church,NaN,1958
0,http://www.wikidata.org/entity/Q4948162,1848,Laura Fitinghoff,female,Sweden,NaN,NaN,1908

In [9]:
result_author.to_csv('author_info.csv')

In [ ]:
# result_df = result_df.drop(result_df.index[0], inplace=True)
# result_df = result_df.drop_duplicates(subset=['work','author'])
copy = result_df.copy()
copy = copy.reset_index()
display(copy)

In [ ]:
copy1 = copy[copy['work'] != "http://www.wikidata.org/entity/Q43361"]
copy1 = copy1.drop_duplicates(subset=['work','author'])
copy1 = copy1.rename(columns={'author':"author_y","work":"book"})
exact_match = pd.merge(result, copy1, on = ['book','author_y'])
display(exact_match)
exact_match.to_csv('exact_match.csv')

In [ ]:
em = pd.read_csv('exact_match.csv')
em = em[em['deathYearMatch'] == 1]
em.to_csv("EEM.csv")
display(em)

In [ ]:
query = """
SELECT ?personLabel ?work ?workLabel
WHERE {
  ?person wdt:P800 ?work.
  ?work wdt:P31 ?worktype.
  FILTER(?worktype = wd:Q7725634 || ?worktype = wd:Q1279564 || ?worktype = wd:Q47461344)
  VALUES ?person { wd:Q34660 } # J. K. Rowling's Q number
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
"""
p = getresult(query)
result_author = pd.DataFrame.from_dict(p)
display(result_author)

In [ ]:
author = pd.read_csv('author_info.csv')
author['author_QN'] = author['author'].str.split('/').str[-1]
display(author)

In [ ]:
author_query = """
SELECT ?person ?personLabel ?work ?workLabel
WHERE {
  ?person wdt:P800 ?work.
  ?work wdt:P31 ?worktype.
  FILTER(?worktype = wd:Q7725634 || ?worktype = wd:Q1279564 || ?worktype = wd:Q47461344)
  VALUES ?person { wd:%s } # J. K. Rowling's Q number
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
"""
for index, row in author.iterrows():
    name = row['author_QN']
    formatted_query = author_query % (name)
    author_df_1 = getresult(formatted_query)
    if author_df_1 is not None:
        author_df = pd.DataFrame.from_dict(author_df_1)
        result_author = pd.concat([result_author,author_df])
display(result_author)

In [ ]:
result_author.to_csv('author_to_book.csv')

In [ ]:
result_author['author'] = result_author['person'].str.split('/').str[-1]
result_author['last_name'] = result_author['personLabel'].str.split(' ').str[-1]
full = pd.read_csv('metadata.csv')
full['last_name'] = full['author'].str.split(',').str[0]
matches = pd.merge(full[['title','last_name']],result_author, on = ['last_name'])
matches = matches.drop_duplicates(subset=['title','last_name','workLabel'])
display(matches)

In [ ]:
#display(matches[matches['title'] == matches['workLabel']])
display(matches[(matches['author'] == "Q535") & (matches['title'] == matches['workLabel'])])

In [ ]:
from fuzzywuzzy import fuzz
match_score = []
for index, row in matches.iterrows():
    title = row['title']
    work = row['workLabel']
    score = fuzz.ratio(title, work)
    match_score.append(score)
matches['match_score'] = match_score
display(matches[(matches['match_score'] >= 80) & matches['match_score'] != 100])

In [ ]:
display(matches[(matches['match_score'] >= 80) & (matches['match_score'] != 100)])

In [ ]:
matches.to_csv("match_scores.csv")