In [1]:
import pandas as pd

In [2]:
from qwikidata.sparql import return_sparql_query_results

# Define your SPARQL query
sparql_query = """
SELECT ?book ?bookLabel ?publicationYLabel ?author ?authorLabel ?genderLabel
WHERE {
  ?book rdfs:label "Harry Potter and the Philosopher's Stone"@en.
  ?book wdt:P31 ?worktype; 
        wdt:P50 ?author.
  OPTIONAL { ?book wdt:P577 ?publicationdate.}
  FILTER(?worktype = wd:Q7725634 || ?worktype = wd:Q1279564 || ?worktype = wd:Q47461344 || ?worktype = wd:Q27217074 || ?worktype = wd:Q732577|| ?worktype = wd:Q8261) #41298 magazine 
  ?author   wdt:P21 ?gender.
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
"""

print('hek')

# Run the SPARQL query
query_results = return_sparql_query_results(sparql_query)

print(query_results)
# Extract the bindings from the results
bindings = query_results["results"]["bindings"]

# Process the bindings to create a list of dictionaries
result_list = []
for binding in bindings:
    result_dict = {}
    for var, value_info in binding.items():
        result_dict[var] = value_info["value"]
    result_list.append(result_dict)

# Display the list of dictionaries
print(result_list)

hek
{'head': {'vars': ['book', 'bookLabel', 'publicationYLabel', 'author', 'authorLabel', 'genderLabel']}, 'results': {'bindings': [{'book': {'type': 'uri', 'value': 'http://www.wikidata.org/entity/Q43361'}, 'author': {'type': 'uri', 'value': 'http://www.wikidata.org/entity/Q34660'}, 'bookLabel': {'xml:lang': 'en', 'type': 'literal', 'value': "Harry Potter and the Philosopher's Stone"}, 'authorLabel': {'xml:lang': 'en', 'type': 'literal', 'value': 'J. K. Rowling'}, 'genderLabel': {'xml:lang': 'en', 'type': 'literal', 'value': 'female'}}]}}
[{'book': 'http://www.wikidata.org/entity/Q43361', 'author': 'http://www.wikidata.org/entity/Q34660', 'bookLabel': "Harry Potter and the Philosopher's Stone", 'authorLabel': 'J. K. Rowling', 'genderLabel': 'female'}]

In [3]:
df = pd.DataFrame(result_list)
display(df)

,book,author,bookLabel,authorLabel,genderLabel
0,http://www.wikidata.org/entity/Q43361,http://www.wikidata.org/entity/Q34660,Harry Potter and the Philosopher's Stone,J. K. Rowling,female

In [4]:
metadata = pd.read_csv("metadata.csv")
metadata = metadata.rename(columns={"Unnamed: 1" : "found"})

/tmp/ipykernel_481/1039201348.py:1: DtypeWarning: Columns (1,9) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv("metadata.csv")

In [5]:
test = metadata.iloc[:20]
base_query = """
SELECT ?book ?bookLabel ?author ?authorLabel
WHERE {{
  ?book rdfs:label "{}"@en.
  ?book wdt:P31 ?worktype; 
        wdt:P50 ?author.
  FILTER(?worktype = wd:Q7725634 || ?worktype = wd:Q1279564 || ?worktype = wd:Q47461344 || ?worktype = wd:Q27217074 || ?worktype = wd:Q732577|| ?worktype = wd:Q8261) #41298 magazine 
  SERVICE wikibase:label {{ bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }}
}}
"""
for index, row in test.iterrows():
    book_title = row['title']
    book_title = book_title.split(':')[0]
    book_title = book_title.split(';')[0]
    book_title = book_title.split(',')[0]
    print(book_title)
    if book_title != "Punchinello":
        formatted_query = base_query.format(book_title)
        result = return_sparql_query_results(formatted_query)
        print("get the query")
        bindings = result["results"]["bindings"]
    for binding in bindings:
        result_dict = {}
        for var, value_info in binding.items():
            result_dict[var] = value_info["value"]
        result_list.append(result_dict)
result_df = pd.DataFrame(result_list)
display(result_df)

The Magna Carta
get the query
Apocolocyntosis
get the query
The House on the Borderland
get the query
My First Years as a Frenchwoman
get the query
The Warriors
get the query
A Voyage to the Moon
get the query
La Fiammetta
get the query
Carmilla
get the query
The Mystery
get the query
Wild Northern Scenes
get the query
La Divina Commedia di Dante
get the query
The Eulogies of Howard
get the query
365 Foreign Dishes
get the query
The Mountains of California
get the query
Punchinello
Punchinello
Punchinello
Punchinello
Punchinello
Punchinello

,book,author,bookLabel,authorLabel,genderLabel
0,http://www.wikidata.org/entity/Q43361,http://www.wikidata.org/entity/Q34660,Harry Potter and the Philosopher's Stone,J. K. Rowling,female
1,http://www.wikidata.org/entity/Q242030,http://www.wikidata.org/entity/Q2054,Apocolocyntosis,Seneca,NaN
2,http://www.wikidata.org/entity/Q740473,http://www.wikidata.org/entity/Q919277,The House on the Borderland,William Hope Hodgson,NaN
3,http://www.wikidata.org/entity/Q7773607,http://www.wikidata.org/entity/Q1258959,The Warriors,John Jakes,NaN
4,http://www.wikidata.org/entity/Q7773608,http://www.wikidata.org/entity/Q2728476,The Warriors,Sol Yurick,NaN
5,http://www.wikidata.org/entity/Q111601227,http://www.wikidata.org/entity/Q111232236,The Warriors,Kalu Okpi,NaN
6,http://www.wikidata.org/entity/Q20543676,http://www.wikidata.org/entity/Q1508382,A Voyage to the Moon,George Tucker,NaN
7,http://www.wikidata.org/entity/Q1043792,http://www.wikidata.org/entity/Q326467,Carmilla,Sheridan Le Fanu,NaN
8,http://www.wikidata.org/entity/Q19094582,http://www.wikidata.org/entity/Q974678,The Mystery,Paul Laurence Dunbar,NaN
9,http://www.wikidata.org/entity/Q95981569,http://www.wikidata.org/entity/Q185406,The Mystery,Samuel Hopkins Adams,NaN
10,http://www.wikidata.org/entity/Q95981569,http://www.wikidata.org/entity/Q4468433,The Mystery,Stewart Edward White,NaN